



.header {
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navLinks {
  margin: 8px 0;
  margin-left: 50%;
}


.navLinks ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
}

.navLinks li a {
  position: relative;

  color: black;
  font-weight: bold;
  font-size: 1.1rem;

  transition: all 0.3s ease;
  display: inline-block;
}
.navLinks li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #0070f3;
  transition: width 0.3s ease;
}

.navLinks li a:hover {
  color: #0070f3;
  transform: scale(1.05);
}
.navLinks li a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    padding: 1rem 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navLinks.open {
    display: flex;
  }

  .navLinks ul {
    flex-direction: column;
    gap: 1rem;
  }

  .hamburger {
    display: flex;
  }

  .navLinks.navLinks {
    margin-left: 0;
  }
}
