.container {
  max-width: 50%;
  margin: 2rem auto;
  padding: 1rem;
  scroll-margin-top: 100px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}



.skillList {
  padding-left: 0.5rem;
  font-size: 6rem;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  object-fit:cover ;
}
.skillList li {
  display: flex;

  gap: 0.5rem;
  font-size: 1.1rem;
  flex-direction: column;
}

@media (max-width: 960px) {
  .container {
    max-width: 80%;
    padding: 1rem;
  }

  .heading {
    font-size: 1.8rem;
    text-align: center;
  }

  .text {
    font-size: 1rem;
    text-align: center;
  }

  .skillList {
    font-size: 4rem;
    gap: 3rem;
    justify-content: center;
  }

  .skillList li {
    font-size: 1rem;
  }
}

@media (max-width: 414px) {
  .container {
    max-width: 90%;
    margin: 1rem auto;
    padding: 0.5rem;
  }

  .heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .text {
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .skillList {
    font-size: 2.5rem;
    gap: 2rem;
    justify-content: center;
  }

  .skillList li {
    font-size: 0.9rem;
    flex-direction: column;
    text-align: center;
  }
}
