.container {
  max-width: 650px;
  margin: 2rem auto;
  padding: 1rem;
  scroll-margin-top: 90px;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.workList {
  list-style: none;
  padding: 0;
}

.workItem {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.link {
  font-size: 0.9rem;
  color: #0070f3;
  text-decoration: none;
}
@media (max-width: 960px) {
  .container {
    max-width: 90%;
    padding: 1rem;
  }

  .heading {
    font-size: 1.8rem;
    text-align: center;
  }

  .text {
    font-size: 1rem;
    text-align: center;
  }

  .workItem {
    padding-bottom: 1rem;
  }

  .link {
    font-size: 0.9rem;
  }
}


@media (max-width: 414px) {
  .container {
    max-width: 95%;
    margin: 1rem auto;
    padding: 0.5rem;
  }

  .heading {
    font-size: 1.5rem;
    text-align: center;
  }

  .text {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .workItem {
    margin-bottom: 1rem;
    padding-bottom: 0.8rem;
  }

  .link {
    font-size: 0.85rem;
    word-break: break-word; /* URLが長くても折り返すように */
  }
}
